<h1>Siin on juttu erinevatest bussidest</h1>
<?php

$bussid=array("Mercedes-Benz","Volvo","MAN","Iveco","Scania","Isuzu");
echo "Kolm populaarseimat bussimarki on " .$bussid[0]. ", ".$bussid[1]. " ja " .$bussid[2]. ".";

?>
<p>
Buss ehk autobuss (varem omnibus) on teedel ja tänavatel liikuv, suurema hulga 
inimeste veoks mõeldud transpordisõiduk, milles on vähemalt 10 istekohta 
(juhiiste kaasa arvatud). Bussid jagunevad liinibussideks, pikamaabussideks ja 
turismibussideks. Pikamaabusside varustuses sisalduvad üldiselt konditsioneer, 
televiisorid, külmik, videomakk ja käimla. Mõningates pikamaabussides on reisijatele 
ka magamiskohad. Elektriga sõitvaid busse nimetatakse trollibussideks.
<br>
 <img src="pildid/buss.JPG" alt="linnaliini buss" height="300" width="400"> 
 <br>See on linnaliini buss. Tavalises linnaliini bussis on üldjuhul seisukohti 55
 ja istekohti on 29. Kokku kohti on 84 sõitjale. Liigendiga (lõõtsaga) bussis on 
 seisukohti 122 ja istekohti on 44. Kokku kohti on 166.
  <br><br><img src="pildid/kahekordne.jpg" alt="kahekordne buss" height="300" width="400"> 
	<br>See on kahekordne buss, millega tehakse pikemaid reise enamasti välismaale. 
	Kuna on vaja vedada palju rahvast korraga, siis on selle bussiga hea reisida.
	Istekohti on sellel bussil tavaliselt umbes 74.<br>
	<br><img src="pildid/marsruuttakso.jpg" alt="marsruuttakso" height="300" width="400">
<br><br>Marsruuttakso teeb reise linnade vahel, mis asetsevad lähestikku näiteks 
Tallinn-Keila. Samas on sellise pisikese bussiga ka hea ja mugav näiteks võistkondi 
ühest linnast teise transportida. Istekohti on sellisel väikebussil tavaliselt kuni 
20.<br>
<br><br><img src="pildid/liinibuss.jpg" alt="liinibuss" height="300" width="400">
<br>Buss, mis sõidab linnadevahel nii siseriiklikult kui ka teeb välismaa reise.
Selline buss on väga levinud ja neid on ka tihti näha ka linnas kui ka maanteedel.
Sellist tüüpi bussid on väga mugavad ja mahukad. Istekohti on sellises bussis
umbes 50 mõnel bussil ka üle 50.<br>
<br><br><img src="pildid/troll.jpg" alt="trollibuss" height="300" width="400">
<br>Troll on sõiduvahend, mis töötab ainult elektri abiga. Kui troll elektrit ei
saa või tuleb kasvõi üks sarv liini pealt maha ei saa troll teekonda jätkata.
Troll saab ainult sõita ette nähtud teed pidi, seal, kus jooksevad liinid, seega 
on trollil ainult kindel tee, kus saab sõita. Istekohti on trollil umbes sama palju
nagu on linnaliidi bussidel.
</p>
<?php

$buss = array("Mercedes-Benz"=>"350730", "Volvo"=>"333550", "MAN"=>"412320");

foreach($buss as $a => $a_vaartus) {
	 
     echo "Bussimargi " . $a . " läbisõit on " . $a_vaartus. " km";
     echo "<br>";
}
?>
