<h1>Registreeri</h1>
<form action="pealeht.html" method="POST">
  <table>
    <tr>
      <td>Kasutajanimi:</td>
      <td><input type="text" name="username"/></td>
    </tr>
    <tr>
      <td>parool:</td>
      <td><input type="password" name="passwd"/></td>
    </tr>
    <tr>
      <td>parool uuesti:</td>
      <td><input type="password" name="passwd2"/></td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" value="registreeru"/></td>
    </tr>
  </table>
</form>
